<style>
    .restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

/*.restaurant-item img {
  max-height: 180px;
  width: 100%;*/
}

.restaurant-item .caption {
  padding: 10px;
}
.image-adaptar{
  text-align: center;
}
</style>


<div class="row">    
    <!-- restaurants list，有多寫restaurant-item的class style -->
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="restaurant-item">
          <div class="image-adaptar">
          <%=link_to restaurant_path(restaurant) do %>
            <%= filestack_image restaurant.image, transform: filestack_transform.resize( height:180) %>
            <%#= image_tag restaurant.image, class: "img-responsive center-block" %>
         <%end%></div>

          <div class="caption">
            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            <p class="label label-default"><%= restaurant.category.name %><p>
            <p><%= truncate(restaurant.description, length: 60) %></p>
          </div>
        </div>
      </div>
    <% end %>
      
          
  </div>

  
  <!-- 有generate kaminari paginate bootstrap style -->
  <div class="text-center">
    <%= paginate @restaurants %>
  </div>
