<style>
  .edit_profile{
    margin-top: 15px;
  }

  .my-restaurant{
   display: inline-block;
   text-align: center;
   padding: 10px;
  }

  .my-restaurant > div {
   height: 70px;
 }
  .panel a:hover .my-restaurant {
   background-color: #eee;
 }

 .panel_title{
  text-align: center;
 }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= filestack_image @user.image, transform: filestack_transform.resize(width:150, height:180) %>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= @user.intro %></div>
          <div class="edit_profile">
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>

        </div>
        <div class="clearfix"></div>

      </div>

      <br>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel_title"><strong><%= @commented_restaurants.count %></strong>已評論餐廳</h5>
          </div>
         
          <div class="panel-body">
            <% @commented_restaurants.each do |restaurant| %>
            <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <div>
                <%= filestack_image restaurant.image, transform: filestack_transform.resize(width:100, height:100) %>
              </div>
              <h5><%= restaurant.name %></h5>
            </div>
            <%end%>
            <%end%>
          </div>
        </div>

    </div>
  </div>
</div>


