<style>
  h1{
    color:gray;
    text-align: center;
  }

 .table .control-image-frame {
    max-width: 150px;
    margin-left:15px;
 }

 .table tbody tr td {
    vertical-align: middle;
    font-size: 20pt;
 }

 .add-new-restaurant{
  text-align: center;
 }

 .pagebar{
  text-align: center;
 }
</style>


<h1>餐廳後台管理</h1>

<table class="table table-striped">
    <tr>
      
    </tr> 

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><div class="control-image-frame">
         <%= image_tag restaurant.image , width: "100%" %>
        </div>
        </td>
        
        <td><%= restaurant.name %></td>

        <td><%= link_to admin_restaurant_path(restaurant) do %>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-folder-open"></span> 瀏覽餐廳
          </button>
          <% end %>
        </td>

        <td><%= link_to edit_admin_restaurant_path(restaurant) do %>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> 編輯餐廳
        </button>
        <%end%>
        </td>

        <td><%= link_to admin_restaurant_path(restaurant),method: :delete, data: {confirm: "你真的確定要刪除嗎?"} do%>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span> 刪除餐廳
          </button>
          <%end%>
        </td>

      </tr>
    <% end %>
</table>

<div class="add-new-restaurant">
<%= link_to new_admin_restaurant_path do%>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus"></span> 新增餐廳
        </button>
        <%end%>
</div>

<div class="pagebar">
<%= paginate @restaurants %>
</div>

