<style>
  td{
    color:gray ;
    height: 40px;
    font-size: 15pt;
  }

  .photo{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  .return{
    text-align: center;
  }
</style>

<div class="form container">

<h3><%= @restaurant.name %></h3>
<%= @restaurant.category.name %>
<table>

<tr><td>Opening Hours:<%= @restaurant.opening_hours %></td></tr>
<tr><td>Tel: <%= @restaurant.tel %></td></tr>
<tr><td>Address: <%= @restaurant.address %></td></tr>
<tr><td>Description:<%= @restaurant.description %></td></tr>

<tr><td>
  <div class="photo">
<%= filestack_image @restaurant.image, transform: filestack_transform.resize(width:400, height:300) %>
<%#= image_tag @restaurant.image, width:'300px' if@restaurant.image? %>
 </div>
</td></tr>

<tr><td>
  <div class="return">
<%= link_to admin_restaurants_path do %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-repeat"></span> back to index 
        </button>
        <%end%>
  </div>
</td></tr>


</table>

</div>

